@import './src/library';

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    pointer-events: none;
  }

  &__header {
    display: flex;
    background-color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid @color_input-bottom;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 2px 5px 13px @color_header-btn_focused;
  }

  &__header-info {
    display: flex;
    align-items: end;
  }

  &__name {
    margin: 0;
    font-weight: 500;
    padding-right: 10px;
  }

  &__header-btn {
    height: 35px;
    width: 35px;
  }

  &__header-btn, &__submit-btn, &__attach-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__menu {
    width: 200px;
    min-height: 40px;
    position: absolute;
    background-color: @color-white;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 @color-shadow1;
    margin: 0;
    display: none;
    box-sizing: border-box;
    padding: 5px;

    &_type_header {
      right: 10px;
      top: 35px;
    }

    &_type_attach {
      top: -75px;
      left: 10px;
    }

    &_opened {
      display: block;
    }
  }

  &__header-btn:focus {
    background-color: @color_header-btn_focused;
    border-radius: 50%;
  }

  &__menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 7px;
    margin-left: auto;

    &:hover {
      opacity: 0.6;
    }

    & + & {
      margin-top: 5px;
    }

    &_type_warning {
      color: @color-warning;
    }
  }

  &__content {
    background-color: @color_home;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 20px 10px;
  }

  &__form {
    height: 45px;
    padding: 5px;
    background-color: @color-white;
    border-top: 1px solid @color_input-bottom;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
  }

  &__input {
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
