{
  "extends": ["airbnb-base","plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
        "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "root": true,
  "rules": {
    "import/prefer-default-export": "off",
    "prefer-promise-reject-errors": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": 2,
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-this-alias": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.ts", "mochaSetup.js"]}],
    "import/extensions": ["error", "ignorePackages", {
      "ts": "never",
      "js": "never"
    }],
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true, //"comments": 80
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
// eslint-disable-line
