@import url('./src/library');

.field {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: @color_label;
    margin-bottom: 5px;
  }

  &__input {
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid @color_input-bottom;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
    padding-left: 0;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__input:focus {
    outline: none;
  }

  &__input-error {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: @color_warning;
    height: 18px;
    opacity: 0;
  }
}

.input-error_visible{
  opacity: 1;
}


