.sign-form {
  margin-top: 40px;

  &__fields {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
  }

  &__button {
    width: 100%;
    background: #000;
    color: #fff;
    font-family: Inter, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 45px;
    border: none;
    border-radius: 5px;
  }

  &__button:disabled {
    background-color: #a0a0a0;
  }

  &__button:hover {
    opacity: 0.8;
  }

  &__error {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #ff4062;
    height: 18px;
    opacity: 0;
  }

  &__error-visible {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    & {
      padding-bottom: 232px;
      min-height: 475px;
    }
  }

  @media screen and (max-width: 425px) {
    & {
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: 475px;
    }

    &__form {
      margin-top: 80px;
    }

    &__button {
      font-size: 12px;
      line-height: 15px;
    }
  }
}


