@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

:root {
  font-family: Inter, Arial, sans-serif;
  background-color: #fff;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #000;
}

.input-error_visible {
  opacity: 1;
}

//@color_popup: #3369F3
